<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.coclearapp.pdm_project">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="ABC Cocleando"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:installLocation = "internalOnly"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name="com.coclearapp.pdm_project.Activities.LoginActivity"
                  android:screenOrientation="userLandscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.coclearapp.pdm_project.Activities.SignupActivity"
                  android:screenOrientation="userLandscape">
        </activity>
        <activity android:name="com.coclearapp.pdm_project.Activities.MainActivity"
                  android:screenOrientation="userLandscape">

        </activity>

        <activity android:name="com.coclearapp.pdm_project.LevelsActivity" android:screenOrientation="userLandscape"/>
        <activity android:name="com.coclearapp.pdm_project.NewPatientActivity" android:screenOrientation="userLandscape"/>

    </application>


</manifest>


